<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>分布地图</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style>
        body,html,#container {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        #result{
            padding: 7px 10px;
            position: fixed;
            top: 10px;
            left: 20px;
            /*width: 470px;*/
            background: #fff;
            box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
            border-radius: 7px;
            z-index: 99;
        }

        #result input{
            width:130px;
            /*margin-right:10px;*/
            height:25px;
            border: 1px solid rgba(27, 142, 236, 0.5);
            border-radius: 5px;
        }
        #result button{
            border: 1px solid rgba(27, 142, 236, 0.5);
            /*border-radius: 5px;*/
            background: rgba(27, 142, 236, 0.5);
            margin-top: 50%;
        }
    </style>
    <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=GVVwjSiMwTRbTWyPmADMZchsbFCf2n3d"></script>
    <script src="//api.map.baidu.com/api?v=2.0&ak=GVVwjSiMwTRbTWyPmADMZchsbFCf2n3d"></script>
</head>
<body>
    <div id="container"></div>

    <div id='result'>
        <div style="float: left;">
            <div>出发地: <input id="begin" type="text"/></div>
            <div id="beginSearchResultPanel" style="z-index: 99"></div>

            <div>目的地: <input id="end" type="text"/></div>
            <div id="endSearchResultPanel" style="z-index: 99"></div>
        </div>

        <div style="float: right; margin-left: 5px;"><button onclick="theLocation()"/>查询</button></div>
    </div>

</body>
</html>
<script type="text/javascript" src="/jquery-3.5.1.min.js"></script>
<script>
    var map = new BMapGL.Map('container');

    map.centerAndZoom(new BMapGL.Point(116.404, 39.915), 12); // 初始化地图,设置中心点坐标和地图级别

    map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放

    $.ajax({
        url:"/mapData",
        type:"post",

        success:function(result){
            list = result.list;

            list.forEach(function(ele,index){
                var lng = ele.lng;
                var lat = ele.lat;
                var name = ele.name;

                var point = new BMapGL.Point(lng,lat);
                var marker = new BMapGL.Marker(point);
                map.addOverlay(marker);


                //地址信息
                var infoWindow = new BMapGL.InfoWindow(name);

                // 点标记添加点击事件
                marker.addEventListener('click', function () {
                    map.openInfoWindow(infoWindow, point); // 开启信息窗口
                });

                marker.disableMassClear();  //不允许被清理

            })
        }
    });


    /**
     * 提示
     */
    function G(id) {
        return document.getElementById(id);
    }

    var bc = new BMap.Autocomplete({  //建立一个自动完成的对象
        "input" : "begin",
        "location" : map
    });
    search(bc,"beginSearchResultPanel")

    var ec = new BMap.Autocomplete({  //建立一个自动完成的对象
        "input" : "end",
        "location" : map
    });
    search(ec,"endSearchResultPanel")

    function search(ac,id){

        ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件

            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str = "FromItem<br/>index = " + e.fromitem.index + "<br/>value = " + value;


            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str += "<br />ToItem<br/>index = " + e.toitem.index + "<br/>value = " + value;


            G(id).innerHTML = str;

        });

        var myValue;
        ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            G(id).innerHTML ="onconfirm<br/>index = " + e.item.index + "<br/>myValue = " + myValue;

            // console.log(myValue)

            setPlace();
        });

        function setPlace(){
            map.clearOverlays();    //清除地图上所有覆盖物
            function myFun(){
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                map.centerAndZoom(pp, 18);
                map.addOverlay(new BMap.Marker(pp));    //添加标注
            }
            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);
        }
    }




    //解析地址&规划路线
    function theLocation(){

        //清空规划路线
        map.clearOverlays();

        var begin = $("#begin").val()
        var end = $("#end").val()

        $.ajax({
            url:"/getAdress",
            type:"post",
            data: {"beginAdress":begin, "endAdress":end},
            success:function(result){

                if (result){
                    var begin = JSON.parse(result.begin)
                    var end = JSON.parse(result.end)

                    if (begin.status === 1){
                        alert("出发地没有找到！请输完整一些")
                        return;
                    }

                    if (end.status === 1){
                        alert("目的地没有找到！请输完整一些")
                        return;
                    }

                    var beginLocation = begin.result.location
                    var endLocation = end.result.location
                    var beginPoint = new BMapGL.Point(beginLocation.lng, beginLocation.lat)
                    var endPoint = new BMapGL.Point(endLocation.lng, endLocation.lat)

                    //路线推荐
                    var driving = new BMapGL.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true }});
                    driving.search(beginPoint, endPoint);
                }
            }
        });
    }

</script>